{% extends "base.html" %}  
{% block body %}
<h2>Tasks</h2>
<table class="table table-bordered table-hover" id="tasks">
  <caption>Tasks</caption>
  <thead>
    <tr>
      <th>Name</th><th>Mode</th><th>Qsize</th><th>Prio</th><th>Index</th><th>Pid</th><th>State</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <td><a href="{{url_for( 'show_task', name=task.name
	)}}">{{task.name}}</a></td><td>{{task.mode}}</td><td>{{task.qsize}}</th><td>{{task.prio}}</td><td>{{task.index}}</td><td>{{task.pid}}</td><td>{{task.state}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
